@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    body{
        font-family: 'Poppins', sans-serif;
    }
    
    .content-title {
        @apply
        text-2xl 
        font-medium
        md:text-4xl
    }

    .content-detail{
        @apply
        text-[14px]
        max-w-[240px] 
        pt-3 
        sm:max-w-lg 
        md:text-lg
    }

    .header-layout {
        @apply 
        fixed w-screen 
        overflow-hidden
        text-white shadow-md 
        md:flex 
        md:items-center 
        md:justify-between
        z-10
    }

    .navbar-anchor-text{
        @apply
        pt-2 
        mr-4
        duration-300 
        font-medium
        hover:text-blue-600
    }
    .navbar-button-blue{
        @apply
        rounded-md 
        bg-blue-600 
        py-1.5
        px-3 
        text-white 
        duration-500 
        hover:bg-blue-800
    }
    .card-feature{
        @apply
        mt-4
        min-h-[280px]
        w-[240-px] 
        min-w-[230px] 
        max-w-[230px] 
        overflow-hidden 
        rounded-xl 
        bg-white 
        p-7 
        shadow-md 
        md:mt-0 
        md:mr-4 
        md:ml-2
    }
    .card-feature-title{
        @apply
        pt-4
        text-lg 
        font-semibold
        text-left
    }
    .card-feature-detail{
        @apply
        pt-2 
        text-left 
        text-sm 
    }

    .card-partner{
        @apply
        mr-4
        shadow-md 
        rounded-md 
        bg-white 
        min-h-[100px] 
        min-w-[100px]
    }.card-event{
        @apply
        w-[240px] 
        min-h-[350px] 
        max-h-[350px]
        overflow-hidden 
        rounded-md 
        bg-white 
        shadow-md 
        md:mt-4 
        md:mr-4 
        md:ml-2
    }
    .card-event-title{
        @apply
        pt-4 font-medium line-clamp-2
    }
}

@media only screen and (min-width: 768px) {
    .body-container {
      overflow: scroll;
      height: 100vh;
      scroll-behavior: smooth;
      scroll-snap-type: y mandatory;
    }
  
    .body-section {
      height: 100vh;
      scroll-snap-align: start;
      align-items: center;
      display: flex;
      justify-content: center;
    }
  
    .body-section-e {
      height: 200vh;
      scroll-snap-align: start;
      align-items: center;
      display: flex;
      justify-content: center;
    }
  }

.header-color {
    background-color: rgba(23, 43, 77, 1);
}

.header-down {
    background-color: white;
}

@media (min-width: 768px) {
    .header-color {
        background-color: rgba(23, 43, 77, 1);
    }

    .header-down {
        background-color: rgba(23, 43, 77, 1);
    }
}